body {
background-color: #d8e2dc;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}

.links a{
    font-size: 1.3em;
    background-color: #159e5c;
    box-shadow: 2px 2px 2px #888888;
    color: #000000;
    padding: 1.5vh;
    transition: transform 0.3s ease;
    text-decoration: none;
    text-align: center;
    width: 100%;
    

}

.links a:hover 
{ background-color: #159e5c; 
transition: 0.5s;
opacity: 0.7;
}

.links {
    display: flex;
        width: 101%;

}


h1 {
    color: #159e5c;
    text-align: center;
    padding: 1%;
    font-size: 300%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 2vw;

}


.image-container {
    background-color: #159e5c;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.image-container1 {
    background-color: #159e5c;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.image-container img,
.image-container1 img {
    width: 40%;
    height: 200px;
    border-radius: 70px;
    padding: 10px;
}




.image-container p,
.image-container1 p {
    color: #000000;
    font-size: 16px;
    padding: 20px;
}


.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #008a4e;
    margin-top: 3vw;
    color: #000000;
    padding: 20px;
    width: 100%;
}

.imgGrupo {
    width: 20vw;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.imgGrupo:hover {
    transform: scale(1.03);
}

.contato h3,
.tituloIntegrantes h3 {
    text-align: center;
    font-size: 1.3em;
}

.integrantesGlobal {
    display: flex;
    gap: 25px;
    font-size: 1em;
    text-align: justify;
}



@media (max-width: 720px) {
 
    .links a{
        font-size: 0.9em;
       }
       
    .container {
        gap: 5%;
    }

    .image-container,
    .image-container1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .image-container img,
    .image-container1 img {
        width: 100%;
        height: auto;
        border-radius: 10%;
    }

   
    .image-container p,
    .image-container1 p {
        text-align: center;
        padding: 10%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 10%S;
    }

    .imgGrupo {
        width: 50%;
    }

    .contato h3 {
        font-size: 1.1em;
    }

    .integrantesGlobal {
        flex-direction: column;
        text-align: center;
        gap: 10%;
    }
}
